@{
    ViewData["Title"] = "Inicio (Admin)";
    Layout = "_Layout";
}
<div class="container py-4">
    <div class="alert alert-primary mb-4">Ups!</div>
    <!-- contenido2: widgets, accesos a gestión, etc. -->
    <h2 class="mb-3">No tienes rol asignado.</h2>
    <p>Contacta al administrador y solicita un rol para navegar dentro del sistema...</p>
</div>
